<section {{did-insert (perform fetchComments @post)}}>
  {{#if fetchComments.isRunning}}
    <span data-test-comments-loading>
      <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
    </span>
  {{else}}
    {{#if allowNewComments}}
      <NewComment @currentUser={{@currentUser}} />
    {{/if}}
    {{#each slicedComments as |comment|}}
      <Comment @comment={{comment}}/>
    {{/each}}
    {{#if shouldShowExpandCommentOption}}
      <button
        class="expand-comments-button border-gray-500 text-gray-500 hover:border-teal-500 hover:text-teal-500"
        {{action "expandComments"}}
      >
        Show more comments
      </button>
    {{/if}}
  {{/if}}
</section>
