<div class="font-sans">
  <h1 class="post-header">{{@post.name}}</h1>
</div>
<p class="py-6 text-base">
  {{@post.blurb}} <LinkTo @route={{'posts.post'}} @model={{@post.id}}>... [Read more]</LinkTo>
</p>
<div class="post-footer">
  <button>{{@post.comments.length}}</button>
</div>
